<template>
  <div>
    <h1>Home Page</h1>

    <h1>Setting Zone</h1>
    <v-btn color="danger" @click="clear()">Clear storage</v-btn>
  </div>
</template>

<script>
export default {
  name: "homepage",
  props: {
    msg: String
  },
  data() {
    return {
      //
    };
  },
  methods: {
    clear() {
      window.localStorage.removeItem('Code')
      alert('Success')
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
