<template>
  <div>
    <v-toolbar>
      <v-toolbar-title class="headline text-uppercase">
        <span>RATCHANON'S</span>
        <span class="font-weight-light">STORE</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn to="/" color="primary" flat>
        <span class="mr-2">Home</span>
      </v-btn>
      <v-btn to="/register" color="primary">
        <span class="mr-2">Register</span>
      </v-btn>
    </v-toolbar>
  </div>
</template>

<script>
export default {
  name: "navbar",
  data() {
    return {
      //
    };
  }
};
</script>

<style lang="scss" scoped>
</style>