<template>
  <div>
    <v-container>
      <v-layout>
        <v-flex offset-xs4 xs4>
          <v-card>
            <v-layout row>
              <v-flex>
                <img src="https://th.seedthemes.com/wp-content/uploads/slider1/seed-2.png" alt>
              </v-flex>
            </v-layout>
            <h1>ราคา {{price}} บาท</h1>
            <h1>ผู้ขาย {{seller}}</h1>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "product",
  data() {
    return {
      seller: "ratchanon",
      price: "500"
    };
  },

  methods: {
    setSeller() {
      window.localStorage.setItem("Code", this.seller);
    }
  },
  mounted() {
      this.setSeller()
  },
};
</script>

<style lang="scss" scoped>
</style>