<template>
  <div>
    <v-container>
      <v-layout>
        <v-flex offset-xs4 xs4>
          <v-text-field label="First name"></v-text-field>
          <v-text-field label="Last name"></v-text-field>
          <v-text-field v-if="code" disabled v-model="code" label="Store Code"></v-text-field>
          <v-btn color="primary">Submit</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "register",
  data() {
    return {
      code: window.localStorage.getItem("Code")
      //
    };
  }
};
</script>

<style lang="scss" scoped>
</style>