<template>
  <v-app>

<navbar></navbar>
    <v-content>
    <router-view/>
    </v-content>
  </v-app>
</template>

<script>
import navbar from './components/navbar';
import homepage from './components/homepage'

export default {
  name: 'Application',
  components: {
    homepage,navbar
  },
  data () {
    return {
      //
    }
  }
}
</script>
